.footer-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background: #eee;
    .footer-menu li {
        border-left: 1px solid #007bff;
        line-height: 0.5rem;
        padding: 0 0.5rem;
        display: inline-block;
        &:first-child {
            border-left: none;
        }
    }
}

/* To Top */
.to-top {
    background: rgba(0, 0, 0, 0.3);
    bottom: 3.5rem;
    right: 1rem;
    color: #fff;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    margin-right: -5rem;
    position: fixed;
    text-align: center;
    z-index: 9999;
    transition: all .3s ease 0s;
    &:hover {
        background: #222;
    }
    &.in {
        margin-right: 0;
        &:hover, &:focus {
            color: #fff;
        }
    }
}